.content {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  align-items: center;
  flex-direction: column;
  padding-top: 3em;
}

.content > div {
  margin-bottom: 2em;
}

#captcha {
  font-size: 25px;
}

.content-draw {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.draw-button {
  margin-top: 1em;
}

/* spinner */
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

canvas {
  border: 2px solid rgb(78, 71, 71);
  cursor: crosshair;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
